.Advantages_advantages__4nWC_ {
  padding: 80px 16px 100px;
}
.Advantages_advantages__4nWC_ .Advantages_advantages_container__9LFfJ {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_header__38Ua3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_header__38Ua3
  h2 {
  font-family: Hagrid;
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  text-align: center;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_content___EOCD {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_content___EOCD
  .Advantages_advantages_item__wONbd {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  animation-name: Advantages_appearCaseItem__4HAjk;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-timeline: view(y);
  animation-range-start: 0;
  animation-range-end: 20vh;
}
@keyframes Advantages_appearCaseItem__4HAjk {
  0% {
    padding-top: 102px;
    opacity: 0;
  }
  to {
    padding-top: 0;
    opacity: 1;
  }
}
@keyframes Advantages_showText__AMun_ {
  to {
    opacity: 1;
  }
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_content___EOCD
  .Advantages_advantages_item__wONbd
  .Advantages_advantages_label__3zMci {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.16px;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_content___EOCD
  .Advantages_advantages_item__wONbd
  .Advantages_advantages_description__y9WlY {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.16px;
  color: #fff;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_content___EOCD
  .Advantages_advantages_item__wONbd:first-child
  .Advantages_advantages_label__3zMci {
  background-color: #2cfdaa;
  color: #1e1e1e;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_content___EOCD
  .Advantages_advantages_item__wONbd:nth-child(2)
  .Advantages_advantages_label__3zMci {
  background-color: #7c41c0;
}
.Advantages_advantages__4nWC_
  .Advantages_advantages_container__9LFfJ
  .Advantages_advantages_content___EOCD
  .Advantages_advantages_item__wONbd:nth-child(3)
  .Advantages_advantages_label__3zMci {
  background-color: #edff96;
  color: #1e1e1e;
}
@media screen and (max-width: 768px) {
  .Advantages_advantages__4nWC_ {
    padding: 64px 16px;
  }
  .Advantages_advantages__4nWC_ .Advantages_advantages_container__9LFfJ {
    gap: 40px;
  }
  .Advantages_advantages__4nWC_
    .Advantages_advantages_container__9LFfJ
    .Advantages_advantages_header__38Ua3
    h2 {
    font-family: Hagrid;
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
  }
  .Advantages_advantages__4nWC_
    .Advantages_advantages_container__9LFfJ
    .Advantages_advantages_content___EOCD {
    flex-direction: column;
    gap: 32px;
  }
  .Advantages_advantages__4nWC_
    .Advantages_advantages_container__9LFfJ
    .Advantages_advantages_content___EOCD
    .Advantages_advantages_item__wONbd {
    gap: 16px;
  }
}
.Hero_hero__hwG9h {
  padding: 100px 16px 66px;
  background-color: #f6f5ef;
  min-height: 100vh;
}
.Hero_hero__hwG9h .Hero_metaball__C7bZd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: Hero_float__ab9R_ 120s linear infinite;
}
@keyframes Hero_float__ab9R_ {
  0% {
    transform: translate(-120%, -50%) rotate(1turn);
  }
  50% {
    transform: translate(40%, -50%) rotate(180deg);
  }
  to {
    transform: translate(-120%, -50%) rotate(0deg);
  }
}
.Hero_hero__hwG9h .Hero_container__DDrpX {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 2;
  position: relative;
}
.Hero_hero__hwG9h .Hero_container__DDrpX .Hero_label__XQcFH {
  background-color: #0ffff2;
  color: #1e1e1e;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.16px;
  padding: 4px 16px;
  border-radius: 100px;
}
.Hero_hero__hwG9h .Hero_container__DDrpX h1 {
  font-family: Hagrid;
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  color: #1e1e1e;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.Hero_hero__hwG9h .Hero_container__DDrpX p {
  margin-bottom: 20px;
}
.Hero_hero__hwG9h .Hero_container__DDrpX .Hero_description__OB3YJ {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.18px;
  color: #1e1e1e;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}
.Hero_hero__hwG9h .Hero_container__DDrpX .Hero_purchaseContainer__Y_hTg {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: min(100%, 580px);
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  gap: 8px;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_raised__E1_Ps {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 24px 0;
  border-radius: 16px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
  gap: 12px;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_raised__E1_Ps
  label {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  color: #4f4f4f;
  text-transform: uppercase;
  text-align: center;
  white-space: pre-line;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_raised__E1_Ps
  b {
  font-family: Hagrid;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  color: #1e1e1e;
  text-align: center;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 24px 0;
  border-radius: 16px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
  gap: 12px;
  align-items: center;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g
  .Hero_investorsHeader__itIja {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g
  label {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  color: #4f4f4f;
  text-transform: uppercase;
  text-align: center;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g
  b {
  font-family: Hagrid;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  color: #1e1e1e;
  text-align: center;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g
  .Hero_walletInfo__R36WE {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background-color: #1e1e1e;
  border-radius: 1000px;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g
  .Hero_walletInfo__R36WE
  .Hero_walletAddress__TzJdw {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.12px;
  color: #b0b0b0;
  font-weight: 500;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g
  .Hero_walletInfo__R36WE
  .Hero_tokenBalance__vgwH9 {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.12px;
  color: #fff;
  font-weight: 600;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_line__JKI7L
  .Hero_investors__tQu_g
  .Hero_walletInfo__R36WE
  .Hero_tokenName__kBejG {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.12px;
  color: #fff;
  font-weight: 500;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_secured__ibEQS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  color: #4f4f4f;
  text-transform: uppercase;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 12px 0;
  border-radius: 16px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
  gap: 12px;
}
.Hero_hero__hwG9h
  .Hero_container__DDrpX
  .Hero_purchaseContainer__Y_hTg
  .Hero_purchaseForm__dxqrJ {
  margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .Hero_hero__hwG9h {
    padding: 64px 16px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100vw;
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
  }
  .Hero_hero__hwG9h .Hero_container__DDrpX {
    gap: 12px;
  }
  .Hero_hero__hwG9h .Hero_container__DDrpX .Hero_label__XQcFH {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
  }
  .Hero_hero__hwG9h .Hero_container__DDrpX h1 {
    font-family: Hagrid;
    font-size: 28px;
    font-weight: 500;
    line-height: 140%;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_raised__E1_Ps {
    grid-column: 1/2;
    flex-direction: row;
    padding: 16px;
    align-items: center;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_raised__E1_Ps
    label {
    font-size: 12px;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_raised__E1_Ps
    b {
    font-size: 20px;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g {
    grid-column: 1/2;
    flex-direction: column;
    padding: 16px;
    align-items: center;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g
    .Hero_investorsHeader__itIja {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g
    .Hero_investorsHeader__itIja
    label {
    font-size: 12px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g
    .Hero_investorsHeader__itIja
    b {
    font-size: 20px;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g
    .Hero_walletInfo__R36WE {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
    padding: 6px 8px;
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 1000px;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g
    .Hero_walletInfo__R36WE
    .Hero_walletAddress__TzJdw {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.12px;
    color: #b0b0b0;
    font-weight: 500;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g
    .Hero_walletInfo__R36WE
    .Hero_tokenBalance__vgwH9 {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.12px;
    color: #fff;
    font-weight: 600;
  }
  .Hero_hero__hwG9h
    .Hero_container__DDrpX
    .Hero_purchaseContainer__Y_hTg
    .Hero_line__JKI7L
    .Hero_investors__tQu_g
    .Hero_walletInfo__R36WE
    .Hero_tokenName__kBejG {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.12px;
    color: #fff;
    font-weight: 500;
  }
}
