.Hero_hero___eBgV {
  padding: 100px 16px 66px;
  background-color: #f6f5ef;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hero_hero___eBgV .Hero_raised__b_7oR {
  margin-bottom: 12px;
  width: 100%;
}
.Hero_hero___eBgV .Hero_raised__b_7oR .Hero_container__riK17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #3d3d3d;
  padding-top: 8px;
}
.Hero_hero___eBgV .Hero_raised_text__lmYaL {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.14px;
  color: #b0b0b0;
  text-transform: uppercase;
}
.Hero_hero___eBgV .Hero_raised_current__s_YQq {
  color: #fff;
}
.Hero_hero___eBgV .Hero_raised_current__s_YQq,
.Hero_hero___eBgV .Hero_raised_total__ZR8Uo {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.14px;
  font-weight: 600;
  text-transform: uppercase;
}
.Hero_hero___eBgV .Hero_raised_total__ZR8Uo {
  color: #b0b0b0;
}
.Hero_hero___eBgV .Hero_metaball__G9Dbk {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: Hero_float__04ilo 120s linear infinite;
}
@keyframes Hero_float__04ilo {
  0% {
    transform: translate(-120%, -50%) rotate(1turn);
  }
  50% {
    transform: translate(40%, -50%) rotate(180deg);
  }
  to {
    transform: translate(-120%, -50%) rotate(0deg);
  }
}
.Hero_hero___eBgV .Hero_container__riK17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 2;
  position: relative;
}
.Hero_hero___eBgV .Hero_container__riK17 .Hero_label__p8U62 {
  background-color: #0ffff2;
  color: #1e1e1e;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.16px;
  padding: 4px 16px;
  border-radius: 100px;
}
.Hero_hero___eBgV .Hero_container__riK17 h1 {
  font-family: Hagrid;
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  color: #1e1e1e;
  max-width: 750px;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .Hero_hero___eBgV {
    padding: 64px 16px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100vw;
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
  }
  .Hero_hero___eBgV .Hero_raised__b_7oR {
    margin-bottom: 0;
  }
  .Hero_hero___eBgV .Hero_container__riK17 {
    gap: 12px;
  }
  .Hero_hero___eBgV .Hero_container__riK17 .Hero_label__p8U62 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
  }
  .Hero_hero___eBgV .Hero_container__riK17 h1 {
    font-family: Hagrid;
    font-size: 28px;
    font-weight: 500;
    line-height: 140%;
  }
}
